@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Poppins", sans-serif;    
  background-image: url(https://www.linkpicture.com/q/background_5.png);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 20px;
}

.sets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.set-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #ffffff;
  border: 4px solid #ff424e;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  
}

.set-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #ffffff;
  border-top: 4px solid #ff424e;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  font-size: 18px;
  
}

.set-card h2 {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
}

.set-card p {
  color: black;
}

.set-card a {
  
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff424e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  
}

.set-card a:hover {
  background-color: #ff424e;
}

/* Home button CSS */
.homeButton {
  padding: 15px;
  background-color: white;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.homeButton::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 18px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.homeButton::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 18px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.homeButton::after::before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 18px;
  height: 4px;
  top: 7px;
  left: 0;
}

.homeButton::after::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 18px;
  height: 4px;
  top: 7px;
  right: 0;
}

.homeButton:hover {
  background-color: #ff424e;
}


.create-set-button {
  display: block;
  margin: 0 auto;
  position: sticky;
  bottom: 20px;
  background-color: #9cede7;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  /* color: black; */
}

.create-set-button:hover {
  background-color: #4557a0;
}

.hidden-object {
  opacity: 1;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Border{
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  border: 6px solid #ff424e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}